body{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}


.container{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 800px;
    min-width:600px;
    height: 387px;
    

    border-radius: 5px;
    border: 4px black solid;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.671);
}

.btn{
    height: 387px;
    width: 25px;

    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.466);

    border: 0px;
    border-radius:2px;
    opacity: 0;
    cursor: pointer;
}
.btn:hover{
    opacity: 100%;
}
img{
    
    position: absolute;
    top:50; left:50;
    transform: translate(-50%,-50%);

    width: 800px;
    min-width:600px;
    height: 387px;

    z-index: -1;
}
.showposition{
    display: flex;
    justify-content: center;

}
.posicao{
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50%;
    margin-left: 20px;
    width: 10px;
    height: 10px;
    transform: translate(0%, -250%);
    
    
}
.showing{
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50%;
    margin-left: 20px;
    width: 10px;
    height: 10px;
    transform: translate(0%,-250%) scale(1.5);
    background-color:rgba(255, 255, 255, 0.349); 
}







